<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{htmlTitle}} {{projectVersion}}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{projectAssets}}/css/bootstrap-msui.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{projectAssets}}/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

    <!-- Custom icons -->
    <link rel="icon" href="{{projectAssets}}/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{projectAssets}}/favicon.ico" type="image/x-icon">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header">
        <nav class="primary-nav navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{projectName}}</a>
                </div>
            </div>
        </nav>
    </header>
    <header class="jumbotron primary" style="background-position-y: 0px, 0px;">
        <div class="container">
            <h1 class="title">{{projectName}} JS</h1>
        </div>
    </header>
    <main class="container" id="content">
        <div class="row page">
            <div class="col-md-9 col-md-push-3" role="main">
                {{>options}}
                <div class="apidocs">
                    <div id="docs-main">
                        <div class="content">
                            {{>layout_content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                {{>sidebar}}
            </div>
        </div>
    </main>
    <footer class="container footer">
        <hr>
        <p>© Copyright MyScript®</p>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="{{projectAssets}}/js/custom.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
